{% load static %}

<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'style/new_style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/servicest-details-style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/contact_style.css' %}" />
    <link rel="stylesheet" href="{% static 'js/splide-3.6.12/dist/css/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

    <!--/styles-->
    <title>wellcome to C2|Home</title>
</head>

<body>
    <!--header-->

    {% include 'base/menu/menu.html' %}

    <!--header-->
    <!-- content -->

    <!--   slider   -->
    <div style="width: 100%;background-color: #f7f7f7;">
        <div style="display: flex; width: 80%;margin: 10px auto; background-color: #f7f7f7;">
            <a style="width: 40%;" href="#">محصولات / آشپزخانه / ارگانایزر</a>
            <div style="width: 60%;display: flex; direction: ltr;">
                <div style=" width: 100%;display: flex;">
                    <div class="forward-linkss">
                        <a style="width: 80%; margin: 25px -30px ; display: flex;" href="#">بعد
                             <div class="go-forward-icon ">  </div>  </a>
                        <div class="go-forward" style=" width: 200px;height: 80px;display: flex;direction: rtl;">
                            <div class="" style="display: block; width: 120px; justify-content: center;background-color: #f7f7f7;">
                                <p style="font-size: 10px;">شستشوی اتومبیل</p>
                                <div style="direction: ltr; margin-top: 15px;margin-right: 45px;" class="detailsrate div-style">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div style=" ">
                                <div class=""></div>
                                <img style="width: 80px; height: 80px;" src="{% static 'img/pic-23.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="back-linkss">
                        <a style="width: 80%; margin: 10px 10px ; display: flex;" href="#">
                            <p style="margin-right: 50px;">قبل</p>
                            <div class="go-back-icon "></div>
                        </a>
                        <div class="go-backs" style=" width: 200px;height: 80px;display: flex;direction: rtl;">
                            <div style=" ">
                                <img style="width: 80px; height: 80px;" src="{% static 'img/pic-23.png' %}" alt="">
                            </div>
                            <div class="" style="display: block; width: 120px; justify-content: center;background-color: #f7f7f7;">
                                <p style="font-size: 10px;">شستشوی اتومبیل</p>
                                <div style="direction: ltr; margin-top: 15px;margin-right: 45px;" class="detailsrate div-style">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>`
        </div>
        <section class="" style="width: 80%;justify-content: center; display: flex;margin: auto auto; background-color: #f7f7f7;">



            <div class="containerdetails">
                <img class="slide-imgditils" src="{% static 'img/pic-22.png' %}" alt="...">
            </div>
            <div class="form-left-box">
                <ol>
                    <li class="form-item " style="display: flex; width: 100%;">
                        <div class="div-style">
                            <h2 style=" color: #F26A4F;" class="">نظافت اتومبیل </h2>
                        </div>
                        <div style="direction: ltr; margin-top: 25px;" class="detailsrate div-style">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <p style="color: black;margin-left: 5px; margin-top: -10px;"> (128)</p>
                        </div>
                    </li>
                    <li style="display: flex; width: 100%;">
                        <p style="margin-top: -8px; margin-right: -1px;" class="form-title">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                            باشد،
                        </p>
                    </li>
                    <li>
                        <div class="pro-btn2">
                            <button class="form-btn2" type="button">دریافت قیمت و مشاوره</button>
                        </div>
                    </li>
                </ol>
            </div>

        </section>
    </div>

    <!--   slider   -->


    <section class="">


    </section>

    <section id="detailswrapper">
        <div class="detailscontent">
            <!-- Tab links -->
            <div class="detailstabs">
                <button class="detailstablinks detailsactive" data-valuetxt="firstdetails"><p data-title="معرفی "> معرفی</p></button>
                <button class="detailstablinks" data-valuetxt="seconddetails"><p data-title=" جزئیات شرکت">جزئیات شرکت </p></button>
                <button class="detailstablinks" data-valuetxt="fourthdetails"><p data-title=" نظرات">نظرات </p></button>
            </div>

            <!-- Tab content -->
            <div class="detailswrapper_tabcontent">
                <div id="firstdetails" class="detailstabcontent detailsactive">
                    <!-- <h3> معرفی</h3> -->
                    <p>برای داشتن میز پذیرایی شیک و خاص در مهمانی و یا دورهمی ها و حتی آشپزخانه ای شیک و مدرن از ظروف و وسایل مختلفی استفاده می شود بانكه هاي چوبي از ان دسته ظروفي است مه طرفداران زيادي دارد اين بانكه از چوب روسي تهيه شده و كيفيت خوبي دارد
                        که از آن هم می توان برای پذیرایی و ریختن انواع تنقلات ، شکلات و حتی حبوبات استفاده نمود و هم به عنوان یک وسیله تزئینی در دکور و یا روی میز می توان آن را قرار داد.
                    </p>
                </div>

                <div id="seconddetails" class="detailstabcontent">
                    <!-- <h3> جزئیات</h3> -->
                    <div class="detailstabdiv">
                        <p class="detailstabp">شماره ثبت</p>
                        <p class="detailstabp"> 14008713009</p>
                    </div>
                    <div class="detailstabdiv">
                        <p class="detailstabp">مدیریت</p>
                        <p class="detailstabp"> رضا دارابی </p>
                    </div>
                    <div class="detailstabdiv">
                        <p class="detailstabp">سال تاسیس</p>
                        <p class="detailstabp"> 1388 </p>
                    </div>
                    <div class="detailstabdiv">
                        <p class="detailstabp">نوع خدمات </p>
                        <p class="detailstabp"> خدمات در محل</p>
                    </div>
                    <div class="detailstabdiv">
                        <p class="detailstabp"> ادرس</p>
                        <p class="detailstabp"> تهران - خیابان - کوچه - شهر - استان - پلاک </p>
                    </div>
                </div>

                <div id="fourthdetails" class="detailstabcontent">
                    <!-- <h3> نظرات</h3> -->
                    <div class="detailstabdiv3">
                        <img class="profileimg" src="{% static 'img/profile.jpeg' %}" />
                        <div class="detailstabdiv22">
                            <p>علی علیزاده</p>
                            <p>تیر 22</p>
                            <p style="margin: 50px -50px 0 0 ;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="detailsrate">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div style="display: block; width: 100%;">
                        <h4 style="color: #F26A4F;">ثبت دیدگاه جدید</h4>
                        <p>شما هم درباره این کالا دیدگاه ثب کنید</p>
                        <div class="form-details">
                            <!-- <ol> -->

                            <li class="form-item-details " style="display: flex;">
                                <input type="text" class="form-input2" placeholder="نام" />
                                <input type="text" class="form-input2" placeholder="نام خانوادگی" />
                            </li>

                            <li class="form-item-details  " style="display: flex; width: 94%;">
                                <div style=" width: 100%;">
                                    <textarea class="form-input-textarea2" placeholder="متن پیام" name="textarea-input" rows="5" cols="50"></textarea>

                                </div>
                            </li>
                            <div class="detailstabdiv3">
                                <p>ثبت امتیاز شما :</p>
                                <div class="detailsrate2">

                                    <i class=""><img src="{% static 'icons/starr.png' %}"/></i>
                                    <i class=""><img src="{% static 'icons/starr.png' %}"/></i>
                                    <i class=""><img src="{% static 'icons/starr.png' %}"/></i>
                                    <i class=""><img src="{% static 'icons/starr.png' %}"/></i>
                                    <i class=""><img src="{% static 'icons/starr.png' %}"/></i>

                                </div>
                            </div>
                            <!-- <li> -->
                            <div class="pro-btn22">
                                <button class="form-btn" type="button">ارسال نظر</button>
                            </div>
                            <!-- </li> -->

                            <!-- </ol> -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <h1 class="title1">بهترین خدمات</h1>
    <div class="splide" dir="ltr">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-hori">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <div class="icon1 fix-icon-vert"></div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <div class="icon2 fix-icon-vert"></div>
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-hori">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <div class="icon1 fix-icon-vert"></div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <div class="icon2 fix-icon-vert"></div>
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-hori">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <div class="icon1 fix-icon-vert"></div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <div class="icon2 fix-icon-vert"></div>
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-hori">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <div class="icon1 fix-icon-vert"></div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <div class="icon2 fix-icon-vert"></div>
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- content -->

    <!-- footer -->
    {% include 'base/footer/footer.html' %}
    <!-- footer -->
    <script src="{% static 'js/splide-3.6.12/dist/js/splide.min.js' %}"></script>
    <script src="{% static 'js/servicest-details.js' %}"></script>

</body>

</html>