{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block  description %}{% endblock %}">
    <!--styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'style/new_style.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/products.css' %}">
    <link rel="stylesheet" href="{% static 'style/articles.css' %}">
    <link rel="stylesheet" href="{% static 'style/about_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/contact_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/product_details_style.css' %}">
    <!--/styles-->
</head>

<body>
    <!--header-->
        {% include 'base/menu/menu.html' %}
    <!--header-->

    {% block content %}
    {% endblock %}


    {% if messages %}
        <div>
            {% for message in messages %}
            <div{% if message.tags %} class="massage {{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'base/footer/footer.html' %}
    <!--script-->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/slider-mainPage.js' %}"></script>
    <script src="{% static 'js/details-product.js' %}"></script>

</body>


</html>