{% extends 'base/base.html' %}
{%  load static %}

{% block title %}
{% endblock %}


{% block content %}
   <div class="all-articles">
        <div class="articles">
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card">
                <div class="article-image">
                    <img src="./asset/img/pic-1.png" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-17.png" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="./asset/icons/icon-18.png" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar-articles">
            <div class="tab-articles">
                <div class="search-articles">
                    <input class="search-sml-articles" type="text" placeholder="جستوجو" name="search">
                    <button class="btn-search-sml-articles" type="submit"><img src="./asset/icons/icon-27.png" alt=""></button>
                </div>
                <div class="articles-title">جدیدترین مقالات</div>
                <div class="tab-article-details">
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-34.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 1</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-35.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 2</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-36.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 3</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="articles-title">برترین مقالات</div>
                <div class="tab-article-details">
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-34.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 1</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-35.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 2</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                    <div class="sml-article">
                        <a href="">
                            <div><img class="article-sml-img" src="./asset/img/pic-36.png" alt=""></div>
                            <div class="articles-text"><a class="sml-article-title" href="#">مقاله 3</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            console.log(xmlHttp.responseText)

            if (xmlHttp.status == 200) {
                console.log("Ok");
            }

            return xmlHttp.responseText;
        }

       httpGet('{% url "ArticlesApi:articles_list" %}')
    </script>
{% endblock %}