{% extends 'base/base.html' %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <div class="all-articles">
        <div id="articles" class="articles">

        </div>
        <div class="bar-articles">
            <div class="tab-articles">
                <div class="search-articles">
                    <input class="search-sml-articles" type="text" placeholder="جستوجو" name="search">
                    <button class="btn-search-sml-articles" type="submit"><img src="./asset/icons/icon-27.png" alt=""></button>
                </div>
                <div class="articles-title">جدیدترین مقالات</div>
                <div class="tab-article-details-one">
                </div>
                <div class="articles-title">برترین مقالات</div>
                <div class="tab-article-details-two">
                    <div class="sml-article">
                        <a class="sml-article-img sml-article-img-A" href="">
                            <div><img class="article-sml-img article-sml-img-A" src="" alt=""></div>
                        </a>
                        <div class="articles-text"><a class="sml-article-title sml-article-title-A" href="#"></a>
                            <p class="sml-article-text-detail sml-article-text-detail-A"></p>
                        </div>

                    </div>
                    <div class="sml-article">
                        <a class="sml-article-img sml-article-img-A" href="">
                            <div><img class="article-sml-img article-sml-img-A" src="" alt=""></div>
                        </a>
                        <div class="articles-text"><a class="sml-article-title sml-article-title-A" href="#"></a>
                            <p class="sml-article-text-detail sml-article-text-detail-A"></p>
                        </div>

                    </div>
                    <div class="sml-article">
                        <a class="sml-article-img sml-article-img-A" href="">
                            <div><img class="article-sml-img article-sml-img-A" src="" alt=""></div>
                        </a>
                        <div class="articles-text"><a class="sml-article-title sml-article-title-A" href="#"></a>
                            <p class="sml-article-text-detail sml-article-text-detail-A"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            console.log(xmlHttp.responseText)

            if (xmlHttp.status == 200) {
                const dataApi = xmlHttp.responseText;
                const jsDataApi = JSON.parse(dataApi);
                 article = jsDataApi.results;
                var i,j,k;
                var firstDiv = document.getElementById('articles');
                var countNumb = article.length;
                for (i = 0; i < countNumb; i++) {
                     firstDiv.innerHTML += '<div class="article-card"></div>' ;
                }
 var articleKid = document.getElementsByClassName("article-card");
                for (j = 0; j < countNumb; j++) {
                    articleKid[j].innerHTML += '<div class="article-image">'+
                    '<img src="" class="product-thumb" alt="" />'+
                '</div>'+
                '<div class="article-info">'+

                   ' <h2 class="article-title"></h2>'+
                   ' <p class="article-info-txt"></p>'+
                   ' <div class="bot-article-info">'+
                       '<div class="bot-article-info-kid">'+
                           '<div class="bot-article-info-img auther-name-img"   ></div>'+
                            '<p class="author-data auther-name"></p>'+
                       ' </div>'+
                        '<div class="bot-article-info-kid">'+
                            '<div class="bot-article-info-img auther-date-img"  ></div>'+
                            '<p class="author-data auther-date"></p>'+
                        '</div>'+

                    '</div>'+
                    '<div class="read-more">'+
                       '<a class="read-more-in" href="#">ادامه مطلب</a>'+
                    '</div>'+
                '</div>';
                }
            }
            var articleImg = document.getElementsByClassName("product-thumb");
            var articleTitle = document.getElementsByClassName("article-title");
            var articleTxt = document.getElementsByClassName("article-info-txt");
            var autherName = document.getElementsByClassName("auther-name");
            var autherDate = document.getElementsByClassName("auther-date");
            var readMore = document.getElementsByClassName("read-more-in");
            var linkmain = window.location.href;
                for (k = 0; k < countNumb; k++){
                articleImg[k].src = article[k].image;
                articleTitle[k].innerHTML = article[k].title;
                articleTxt[k].innerHTML = article[k].description;
                autherName[k].innerHTML = article[k].writer_fullname;
                autherDate[k].innerHTML = article[k].jdate;
                readMore[k].href = linkmain +"detail/"+article[k].id + "/" +article[k].slug ;
                }
        }

       httpGet('{% url "ArticlesApi:articles_list" %}')

         function LastArticle(articleurl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", articleurl, false ); // false for synchronous request
            xmlHttp.send( null );
            console.log(xmlHttp.responseText)

            if (xmlHttp.status == 200) {
                console.log("Ok");
                const dataArticle = xmlHttp.responseText;
                console.log(dataArticle, 'ijiiiiiiiiiiii')
                const jsDataArticleApi = JSON.parse(dataArticle);
                console.log(jsDataArticleApi[0].id);
                var a,b,h;
                var countDetail = jsDataArticleApi.length;
                console.log(countDetail);
                var Newdiv = document.getElementsByClassName("tab-article-details-one");
                for (a = 0; a < countDetail; a++) {
                 Newdiv[0].innerHTML += '<div class="sml-article-new">'+
                '</div>';
                }
                var newarticle = document.getElementsByClassName("sml-article-new");
                console.log(countDetail);
                for (h=0 ; h < countDetail ; h++ ) {
                newarticle[h].innerHTML += '<a class="sml-article-img" href="">'+
                           ' <div>' +
                    '<img class="article-sml-img" src="" alt="">'+
                '</div>'+
                       ' </a>'+
                       ' <div class="articles-text">'+
                    '<a class="sml-article-title" href="#">'+
                '</a>'+
                           ' <p class="sml-article-text-detail">'+
                '</p>'+
                       ' </div>';
                 }
                 var articleDetailA = document.getElementsByClassName("sml-article-img");
            var articleDetailImg = document.getElementsByClassName("article-sml-img");
            var articleTitleDetail = document.getElementsByClassName("sml-article-title");
            var articleTextDetail = document.getElementsByClassName("sml-article-text-detail");
            var linkdetail = window.location.href;
            console.log(jsDataArticleApi);
            console.log(linkdetail);
                for (b = 0; b < countDetail; b++){
                articleDetailA[b].href = linkdetail +"detail/"+jsDataArticleApi[b].id + "/" +jsDataArticleApi[b].slug ;
                articleDetailImg[b].src = jsDataArticleApi[b].image;
                articleTitleDetail[b].innerHTML = jsDataArticleApi[b].title;
                articleTitleDetail[b].href = linkdetail +"detail/"+jsDataArticleApi[b].id + "/" +jsDataArticleApi[b].slug ;
               articleTextDetail[b].innerHTML = jsDataArticleApi[b].short_description;
                }
            }

        }

       LastArticle('{% url "ArticlesApi:latest_articles" %}')

        function TopArticle(articleurls)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", articleurls, false ); // false for synchronous request
            xmlHttp.send( null );
            console.log(xmlHttp.responseText)

            if (xmlHttp.status == 200) {
                console.log("Ok");
                const dataArticle = xmlHttp.responseText;
                console.log(dataArticle, 'ijiiiiiiiiiiii')
                const jsDataArticleApi = JSON.parse(dataArticle);
                console.log(jsDataArticleApi[0].id);
                var i;
                var countDetail = jsDataArticleApi.length;
                console.log(countDetail);


                 var articleDetailA = document.getElementsByClassName("sml-article-img-A");
            var articleDetailImg = document.getElementsByClassName("article-sml-img-A");
            var articleTitleDetail = document.getElementsByClassName("sml-article-title-A");
            var articleTextDetail = document.getElementsByClassName("sml-article-text-detail-A");
            var linkdetail = window.location.href;
            console.log(jsDataArticleApi);
            console.log(linkdetail);
                for (i = 0; i < countDetail; i++){
                articleDetailA[i].href = linkdetail +"detail/"+jsDataArticleApi[i].id + "/" +jsDataArticleApi[i].slug ;
                articleDetailImg[i].src = jsDataArticleApi[i].image;
                articleTitleDetail[i].innerHTML = jsDataArticleApi[i].title;
                articleTitleDetail[i].href = linkdetail +"detail/"+jsDataArticleApi[i].id + "/" +jsDataArticleApi[i].slug ;
               articleTextDetail[i].innerHTML = jsDataArticleApi[i].short_description;
                }
            }

        }

      TopArticle('{% url "ArticlesApi:top_articles" %}')
    </script>
{% endblock %}