{% extends 'base/base.html' %}
{%  load static %}

{% block title %}
{% endblock %}


{% block content %}
  <div class="all-articles">
        <div class="bar-articles">
            <div class="tab-articles">
                <div class="search-articles">
                    <form action="{% url 'articles:search_articles_page' %}" method="gets">
                        <input class="search-sml-articles" type="text" placeholder="جستوجو" name="q">
                        <button class="btn-search-sml-articles" type="submit"><img src="{% static 'home/icons/icon-27.png' %}" alt=""></button>
                    </form>
                </div>
                {% if latest_articles %}
                    <div class="articles-title">جدیدترین مقالات</div>
                    <div class="tab-article-details">

                        {%  for Last_article in latest_articles %}
                            <div class="sml-article">
                                <a href="{% url 'Articles:article_detail_page' Last_article.slug %}">
                                    <div><img class="article-sml-img" src="{{ Last_article.image.url }}" alt="{{ Last_article.title }}"></div>
                                    <div class="articles-text"><a class="sml-article-title" href="{% url 'Articles:article_detail_page' Last_article.slug %}">{{ Last_article.title }}</a>
                                        <p>{{ Last_article.short_description  | truncatechars:400 }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if top_articles %}
                    <div class="articles-title">برترین مقالات</div>
                    <div class="tab-article-details">
                        {% for top_article in top_articles %}
                            <div class="sml-article">
                            <a href="{% url 'Articles:article_detail_page' top_article.slug %}">
                                <div><img class="article-sml-img" src="{{ top_article.image.url }}" alt="{{ top_article.title }}"></div>
                                <div class="articles-text"><a class="sml-article-title" href="{% url 'Articles:article_detail_page' top_article.slug %}">{{ top_article.title }}</a>
                                    <p>{{ top_article.short_description  | truncatechars:400 }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>


        <div class="articles">
           <div class="article-first">


                    {% for article in pages %}
                        <div class="article-card">
                            <div class="article-image">
                                <img src="{{ article.image.url }}" class="product-thumb" alt="{{ article.title }}" />
                            </div>
                            <div class="article-info">

                                <h2 class="article-title">{{ article.title }}</h2>
                                <p class="article-info-txt">{{ article.short_description   | truncatechars:400}}</p>
                                <div class="bot-article-info">
                                    <div class="bot-article-info-kid">
                                        <img class="bot-article-info-img" src="{% static 'home/icons/icon-17.png' %}" alt="{{ article.writer }}">
                                        <p class="author-data">{{ article.writer }}</p>
                                    </div>
                                    <div class="bot-article-info-kid">
                                        <img class="bot-article-info-img" src="{%  static 'home/icons/icon-18.png' %}" alt="{{ article.jdate }}">
                                        <p class="author-data">{{ article.jdate }}</p>
                                    </div>

                                </div>
                                <div class="read-more">
                                    <a class="read-more-in" href="{% url 'Articles:article_detail_page' article.slug %}">ادامه مطلب</a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>

        </div>
    </div>
{% endblock %}