{% load static %}

    <footer class="footer">
        <div class="footer-box">
            <br>
            <br>
            <br>
            <div class="main-logo-footer">
                <a class="main-logo-footer-a" href="./index.html">
                    <img class="main-logo-footer-img" src="{% static 'img/logo-removebg-preview.png' %}" alt="" />
                </a>
            </div>
            <div class="loremtxt">

                <h3 class="lorem">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون<br> بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </h3>
            </div>
            <div class="links">
                <div class="company-name">
                    <ol>
                        <li class="head title"><a href="#"> همراه با نام شرکت</a></li>
                        <li class="links-kid"><a href="#"> درباره ما</a></li>
                        <li class="links-kid"><a href="#"> تماس با ما</a></li>
                        <li class="links-kid"><a href="#"> قوانین و مقررات</a></li>
                        <li class="media">
                            <div class="medialogo">
                                <a href="#"><img src="{% static 'icons/icon-10.png' %}" alt=""></a>
                            </div>
                            <div class="medialogo">
                                <a href="#"><img src="{% static 'icons/icon-11.png' %}" alt=""></a>
                            </div>
                            <div class="medialogo">
                                <a href="#"><img src="{% static 'icons/icon-12.png' %}" alt=""></a>
                            </div>
                            <div class="medialogo">
                                <a href="#"><img src="{% static 'icons/icon-13.png' %}" alt=""></a>
                            </div>
                            <div class="medialogo">
                                <a href="#"><img src="{% static 'icons/icon-14.png' %}" alt=""></a>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="sell-web">
                    <ol>
                        <li class="head title"><a class="bot-title" href="#"> فروش در سایت</a></li>
                        <li class="links-kid"><a href="#"> ثبت نام تامین کننده</a></li>
                        <li class="links-kid"><a href="#"> ورود تامین کننده</a></li>
                        <li class="links-kid"><a href="#"> سوالات متداول تامین کننده</a></li>
                        <li class="links-kid"><a href="#"> آموزش فروش</a></li>
                    </ol>
                </div>
                <div class="buy-web">
                    <ol>
                        <li class="head title"><a class="bot-title" href="#"> خرید از سایت</a></li>
                        <li class="links-kid"><a href="#"> روش استفاده از خدمات</a></li>
                        <li class="links-kid"><a href="#"> روش خرید محصولات</a></li>
                        <li class="links-kid"><a href="#"> سوالات متداول خریدار</a></li>
                        <li class="links-kid"><a href="#"> محصول1</a></li>
                    </ol>
                </div>
                <div class="last_article">
                    <ol>
                        <li class="head title"><a class="bot-title" href="#"> آخرین مقالات</a></li>
                        <li class="links-kid"><a href="#"> مقاله 1</a></li>
                        <li class="links-kid"><a href="#"> مقاله 2</a></li>
                        <li class="links-kid"><a href="#"> مقاله 3</a></li>
                        <li class="links-kid"><a href="#"> مقاله 4</a></li>
                    </ol>
                </div>
            </div>
            <div class="red-line">
                <div class="div call"><img class="phone" src="{% static 'icons/icon-8.png' %}" alt="">
                    <p class="div-p">021-234324</p>
                </div>
                <div class="div loc"><img class="location" src="{% static 'icons/icon-7.png' %}" alt="">
                    <p class="div-p">تهران -خیابان - کوچه</p>
                </div>
                <div class="div"><img class="message" src="{% static 'icons/icon-6.png' %}" alt="">
                    <p class="div-p">test@test.com</p>
                </div>

            </div>
            <div class="botlane">
                <div class="application ">
                    <h3 class="application-text" id="h3">دانلود اپلیکیشن</h3>
                    <div class="app-img">
                        <a href="#"><img class="applogo" src="{% static 'img/appstore.png' %}" alt=""></a>
                        <a href="#"><img class="applogo" src="{% static 'img/googleplay.png' %}" alt=""></a>
                    </div>

                </div>
                <div class="validation-logo">
                    <a href="#"><img class="valid-logo" src="{% static 'img/pic-15.png' %}" alt=""></a>
                    <a href="#"><img class="valid-logo" src="{% static 'img/pic-16.png' %}" alt=""></a>
                    <a href="#"><img class="valid-logo" src="{% static 'img/pic-17.png' %}" alt=""></a>
                </div>
            </div>
            <div class="botlane-txt">
                <p class="text-center">حق چاپ © 2022 . تمامی حقوق محفوظ است.</p>
            </div>
        </div>
    </footer>