.all-panels {
    width: 100%;
    display: flex;
}

.panel {
    display: inline-block;
    top: 0;
    right: 0;
    width: 20%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.panels-icon {
    background-image: url(../icons/icon-41.png);
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-left: 45px;
}

.edit-prof-icon {
    background-image: url(../icons/icon-42.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.product-add-icon {
    background-image: url(../icons/icon-43.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.product-list-icon {
    background-image: url(../icons/icon-44.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.accounting-icon {
    background-image: url(../icons/icon-45.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.complaint-icon {
    background-image: url(../icons/icon-46.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.comments-icon {
    background-image: url(../icons/icon-47.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.clientele-icon {
    background-image: url(../icons/icon-48.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.exit-icon {
    background-image: url(../icons/icon-49.png);
    width: 60px;
    height: 60px;
    display: block;
    margin: 15px 15px;
}

.panels {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: #F99687;
    font-size: 40px;
}

.panels p {
    width: 300px;
    height: 60px;
    display: block;
    margin: auto;
    color: #fff;
}

.panels-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 125px;
    cursor: pointer;
}

.panels-details:hover {
    background-color: rgba(131, 131, 131, 0.589);
}

.panels-details p {
    font-size: 28px;
    text-align: right;
    width: 366px;
    height: 60px;
    margin-top: 40px;
}

.panel-details {
    width: 70%;
    margin: 40px auto;
}

.seller-account {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.add-products {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.seller-account-title {
    border-right: 6px solid #F26A4F;
    width: 100%;
    height: 50px;
}

.seller-account-title p {
    display: block;
    padding: 0;
    font-size: 27px;
}

.acc-inputs {
    width: 100%;
    display: block;
}

.acc-inputs input {
    width: 80%;
    font-size: 25px;
    border-radius: 10px;
    display: block;
    margin: auto;
    border: 1px solid #707070;
    margin-top: 4%;
    height: 52px;
}

.acc-btn {
    display: block;
    margin: auto;
    margin-top: 4%;
}

.acc-btn button {
    cursor: pointer;
    width: 270px;
    height: 60px;
    display: block;
    margin: auto;
    margin-right: 10%;
    border-radius: 10px;
    border: 1px;
    background-color: #F26A4F;
    font-size: 30px;
    color: white;
}

.add-icons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.add-icon {
    width: 140px;
    height: 140px;
    display: block;
    margin: auto;
    background-image: url(../icons/icon-50.png);
    border-radius: 15px;
}

.property {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 3%;
}

.property-select {
    position: relative;
    min-width: 80%;
}

.property-select svg {
    position: absolute;
    left: 7%;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #000000;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.property-select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    height: 52px;
}

.property-select select:required:invalid {
    color: #5a667f;
}

.property-select select option {
    color: #223254;
}

.property-select select option[value=""][disabled] {
    display: none;
}

.property-select select:focus {
    outline: none;
    border-color: #F26A4F;
    box-shadow: 0 0 0 2px #F26A4F;
}

.property-select select:hover+svg {
    stroke: #F26A4F;
}

.add-btn {
    display: block;
    margin: auto;
    margin-top: 4%;
}

.add-btn button {
    width: 270px;
    height: 60px;
    display: block;
    margin: auto;
    margin-right: 10%;
    border-radius: 10px;
    border: 1px;
    background-color: #2ACB34;
    font-size: 30px;
    color: white;
}

.list-products {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.list-products-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}

.search-list {
    position: relative;
}

.top-table {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-bottom: 5px solid #707070;
    margin: auto;
    margin-top: 2%;
}

.mid-table {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.mid-table-img {
    width: 70px;
    height: 70px;
    display: block;
}

.mid-table-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.edit-icon {
    background-image: url(../icons/icon-57.png);
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.trash-icon {
    background-image: url(../icons/icon-56.png);
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.edit-icons {
    width: 90px;
    display: flex;
    justify-content: space-evenly;
}

.accounting-page {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.top-table-acc {
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-bottom: 5px solid #707070;
    margin: auto;
    margin-top: 3%;
}

.mid-table-acc {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.mid-table-acc p {
    text-align: center;
    width: 260px;
}

.complaint-page {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.handling {
    width: 220px;
    height: 55px;
    background-color: #2ACB34;
    border: 1px;
    cursor: pointer;
    color: #fff;
    font-size: 27px;
    text-align: center;
    border-radius: 20px;
    margin-top: 18%;
}

.complaint-div-img {
    width: 135px;
    height: 135px;
    display: block;
}

.complaint-img {
    width: 135px;
    height: 135px;
    display: block;
}

.complaint-box {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border-bottom: 4px solid #707070;
}

.complaint-vote div {
    text-align: center;
    color: #ffd700;
    font-size: 25px;
}

.download-complaintbox {
    width: 220px;
    height: 55px;
    background-color: #FEDFD4;
    border: 1px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 3%;
}

.name-complaintbox {
    font-size: 25px;
}

.top-complaintbox {
    display: flex;
    justify-content: space-between;
}

.comment-box {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.delete-btn {
    width: 160px;
    height: 55px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #F26A4F;
    font-size: 25px;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
}

.response-btn {
    width: 160px;
    height: 55px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #2ACB34;
    font-size: 25px;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
}

.btns {
    width: 350px;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    float: left;
    margin-top: 2%;
}

.comments-box {
    width: 80%;
    display: block;
    margin: auto;
}

.comment-detail-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    border-bottom: 4px solid #707070;
}

.comment-box-img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: block;
    margin-top: 27px;
}

.clientele-page {
    width: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: auto;
}

.client-icon {
    background-image: url(../icons/icon-51.png);
    width: 30px;
    height: 45px;
    display: block;
    cursor: pointer;
}

.mid-table-cli {
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    margin: auto;
    margin-top: 2%;
    margin-right: 85px;
}

.yes-btn {
    width: 570px;
    height: 100px;
    border: 1px;
    border-radius: 20px;
    background-color: #2ACB34;
    display: block;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

.no-btn {
    width: 570px;
    height: 100px;
    border: 1px;
    border-radius: 20px;
    background-color: #F26A4F;
    display: block;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

.question-btn {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.qu-on {
    background-color: white;
    width: 1600px;
    position: fixed;
    height: 800px;
    right: 18%;
    top: 15%;
    z-index: 15;
    border-radius: 30px;
}

.qu-off {
    background-color: white;
    width: 1600px;
    position: fixed;
    height: 800px;
    right: -150%;
    top: 15%;
    z-index: 15;
    border-radius: 30px;
}

.qu-two-on {
    background-color: white;
    width: 1600px;
    position: fixed;
    height: 800px;
    right: 18%;
    top: 15%;
    z-index: 15;
    border-radius: 30px;
}

.qu-two-off {
    background-color: white;
    width: 1600px;
    position: fixed;
    height: 800px;
    right: -150%;
    top: 15%;
    z-index: 15;
    border-radius: 30px;
}

.question-box p {
    font-size: 50px;
    text-align: center;
    display: block;
}

.question-box-two p {
    font-size: 50px;
    text-align: center;
    display: block;
}

.trash-icon-big {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    background-image: url(../icons/icon-58.png);
    margin-top: 3%;
}

.close-icon-big {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    background-image: url(../icons/icon-58.png);
    margin-top: 3%;
    background-repeat: no-repeat;
}

.close-icon {
    width: 45px;
    height: 45px;
    display: block;
    background-image: url(../icons/icon-29.png);
    background-repeat: no-repeat;
    margin-top: 45px;
    margin-right: 45px;
    cursor: pointer;
}

.panel-page {
    display: none;
}

.border {
    border-right: 13px solid #F26A4F;
}