.sugg-page {
    overflow-y: scroll;
    transition: right 1s;
    scrollbar-color: #F99687 #C6C6C6;
    scrollbar-width: thin;
}

.prs-page {
    overflow-y: scroll;
    transition: right 1s;
    scrollbar-color: #F99687 #C6C6C6;
    scrollbar-width: thin;
}

.sugg-page-on {
    background-color: #fff;
    position: fixed;
    width: 90%;
    height: 90%;
    right: 5%;
    top: 20%;
    bottom: 15%;
    left: 5%;
    z-index: 15;
    margin: auto;
}

.prs-page-on {
    background-color: #fff;
    position: fixed;
    width: 90%;
    height: 90%;
    right: 5%;
    top: 20%;
    bottom: 15%;
    left: 5%;
    z-index: 11;
    margin: auto;
}

.sugg-page-off {
    background-color: #fff;
    position: fixed;
    width: 90%;
    height: 90%;
    right: -200%;
    top: 20%;
    bottom: 15%;
    left: 5%;
    z-index: 15;
}

.prs-page-off {
    background-color: #fff;
    position: fixed;
    width: 90%;
    height: 90%;
    right: -200%;
    top: 20%;
    bottom: 15%;
    left: 5%;
    z-index: 15;
}

.sugg-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    z-index: 10;
}

.prs-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    z-index: 10;
}

.service-title-page-txt {
    width: 85%;
    height: 70px;
    font-size: 30px;
    text-align: center;
}

.service-title-img-parent {
    display: inline-block;
    width: 4%;
    height: 45px;
}

.service-title-img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.sugg-selector {
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
}

.sugg-selector input {
    width: 67%;
    height: 60px;
}

.select1 {
    display: inline-block;
    position: relative;
    min-width: 834px;
}

.select1 svg {
    position: absolute;
    left: 2%;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #000000;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select1 select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

.select1 select:required:invalid {
    color: #5a667f;
}

.select1 select option {
    color: #223254;
}

.select1 select option[value=""][disabled] {
    display: none;
}

.select1 select:focus {
    outline: none;
}

.select1 select:hover+svg {}

.title-space-selector1 {
    display: inline-block;
    font-size: 25px;
    color: #F26A4F;
    width: 100%;
}

.sugg-btn {
    width: 670px;
    height: 90px;
    display: block;
    margin: auto;
    background-color: #2ACB34;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.prs-btn {
    width: 670px;
    height: 90px;
    display: block;
    margin: auto;
    background-color: #2ACB34;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.slide-text {
    position: absolute;
    width: 35%;
    height: auto;
    background-color: #FFFFFF;
    color: #F26A4F;
    font-size: 60px;
    text-align: center;
    border-radius: 15px;
    top: 27%;
    left: 10%;
}

.slide-btn {
    width: 35%;
    height: 90px;
    position: absolute;
    background-color: #2ACB34;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    cursor: pointer;
    top: 75%;
    left: 11%;
    border: 1px;
}

.center {
    margin-top: 4%;
}

.brand-off {
    display: none;
    height: 0;
    transition: height .5s;
}

.text-violet {
    display: flex;
    justify-content: space-evenly;
    width: 82%;
    font-size: 27px;
    margin: auto;
}

.text-violet p {
    margin-top: 15px;
    color: #585858;
}

.show-price {
    display: inline-block;
    width: 264px;
    height: 55px;
    border: 1px solid #707070;
    border-radius: 15px;
    font-size: 25px;
    padding: 7px;
    direction: ltr;
}

.text-violet input[type="number"]::-webkit-outer-spin-button,
.text-violet input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    position: relative;
    background: #C6C6C6;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 54px;
}

.slider .progress {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background: #F26A4F;
}

.multi-range {
    position: relative;
    height: 40px;
    direction: ltr;
    width: 82%;
    margin: auto;
}

.multi-range input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ul-search {
    display: block;
    margin: auto;
}

.ul-search li {
    list-style: none;
}

.type-seller {}

@media screen and (max-width: 768px) {
    .color-selector {
        display: block;
    }
    .title-space-selector1 {
        font-size: 20px;
    }
    .slide-text {
        font-size: 18px;
    }
    .slide-btn {
        font-size: 18px;
        height: 50px;
    }
    .service-title-page-txt {
        font-size: 20px;
    }
    .sugg-btn {
        width: 70%;
        height: 60px;
        font-size: 20px;
    }
    .prs-page-on {
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 90px;
    }
    .sugg-page-on {
        width: 100%;
        height: auto;
        top: 79px;
        margin: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .service-title-img {
        width: 25px;
        height: 25px;
        margin-top: 20px;
        margin-right: 40px;
    }
    .select1 {
        min-width: 400px;
        max-width: 400px;
    }
    .section-p1-service button {
        height: 35px;
        font-size: 10px;
    }
    .section-p1-txt-service {
        font-size: 15px;
        line-height: 46px;
    }
    .token-vert {
        right: -15% !important;
    }
    .rate-vert {
        margin-right: 4% !important;
        margin-top: 6% !important;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .select1 {
        min-width: 250px;
        max-width: 250px;
    }
    .slide-text {
        font-size: 12px;
    }
    .token-vert {
        right: -15% !important;
    }
    .details-vert-title {
        font-size: 7px !important;
        margin-top: 10px;
    }
    .rate-vert {
        margin-top: 10% !important;
    }
    .slide-text {
        font-size: 12px !important;
    }
    .slide-btn {
        font-size: 11px !important;
        height: 25px !important;
    }
    .select {
        min-width: 280px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .color-selector {
        display: block;
    }
    .slide-text {
        font-size: 30px;
    }
    .slide-btn {
        font-size: 23px;
        height: 60px;
    }
    .sugg-btn {
        width: 70%;
        height: 60px;
        font-size: 20px;
    }
    .prs-page-on {
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 90px;
    }
    .sugg-page-on {
        width: 100%;
        height: auto;
        top: 79px;
        margin: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .service-title-img {
        width: 25px;
        height: 25px;
        margin-top: 20px;
        margin-right: 40px;
    }
    .select1 {
        min-width: 700px;
    }
    .section-p1-txt-service {
        font-size: 20px;
        line-height: 61px;
    }
    .section-p1-service button {
        font-size: 18px;
        height: 54px;
    }
}

@media (min-width: 1024px) and (max-width: 1438px) {
    .slide-text {
        font-size: 40px;
    }
    .section-p1-service button {
        font-size: 23px;
        height: 62px;
    }
    .section-p1-txt-service {
        font-size: 30px;
    }
}