{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!--   slider   -->
    <section id="slider" class="">
        <div class="container">
            <div class="carousel-inner">
                <div class="carousel-item fade">
                    <a class="slide" href="#"><img class="slide-img" src="{% static 'img/pic-18.jpg' %}" alt="..."></a>
                </div>
                <div class="carousel-item fade">
                    <a class="slide" href="#"><img class="slide-img" src="{% static 'img/pic-19.jpg' %}" alt="..."></a>
                </div>
                <div class="carousel-item fade">
                    <a class="slide" href="#"><img class="slide-img" src="{% static 'img/pic-20.jpg' %}" alt="..."></a>
                </div>
                <div class="carousel-item fade">
                    <a class="slide" href="#"><img class="slide-img" src="{% static 'img/pic-19.jpg' %}" alt="..."></a>
                </div>
            </div>
            <div class="all-dot-btn">
                <button type="button" class="dot-btn slide-active" onclick="currentSlide(1)"></button>
                <button type="button" class="dot-btn" onclick="currentSlide(2)"></button>
                <button type="button" class="dot-btn" onclick="currentSlide(3)"></button>
                <button type="button" class="dot-btn" onclick="currentSlide(4)"></button>
            </div>
        </div>
    </section>
    <!--   products   -->
    <div class="background"></div>
    <h1 class="title1">جدید ترین محصولات</h1>
    <div class="splide" dir="ltr">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-vert">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                                <span class="token-vert">20%</span>
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <h1 class="title1">جدید ترین خدمات</h1>
    <div class="splide" dir="ltr">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Grid section-->
    <div class="grid-card">
        <div class="grid-col1">
            <div class="box-grid-p1">
                <a class="box-grid-a2" href="#">
                    <img class="img-grid img-grid-p1" src="{% static 'img/pic-8.png' %}" alt="محصولات آرایشی" />
                    <div class="txt-grid-parent">
                        <span class="txt txt-grid-p1">محصولات آرایشی<br />وبهداشتی</span>
                        <span class="viewed-all-p2" href="#">مشاهده همه</span>
                    </div>
                </a>
            </div>
            <div class="box-grid-p1">
                <a class="box-grid-a2" href="#">
                    <img class="img-grid img-grid-p1" src="{% static 'img/pic-7.png' %}" alt="تجهیزات و تعمیرات خودرو های لوکس" />
                    <div class="txt-grid-parent">
                        <span class="txt txt-grid-p1">تجهیزات و تعمیرات<br />خودرو های لوکس</span>
                        <span class="viewed-all-p2" href="#">مشاهده همه</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-col2">
            <div class="box-grid-p3">
                <a class="box-grid-a1" href="#">
                    <img class="img-grid img-grid-p3" src="{% static 'img/pic-4.png' %}" alt="لوازم آشپزخانه" />
                    <div class="txt-grid-parent">
                        <span class="txt txt-grid-p2">لوازم آشپزخانه</span>
                        <span class="viewed-all" href="#">مشاهده همه</span>
                    </div>
                </a>
            </div>
            <div class="box-grid-p3">
                <a class="box-grid-a1" href="#">
                    <img class="img-grid img-grid-p3" src="{% static 'img/pic-5.png' %}" alt="موبایل و لپتاپ" />
                    <div class="txt-grid-parent">
                        <span class="txt txt-grid-p2">تعمیرات<br />موبایل و لپتاپ</span>
                        <span class="viewed-all" href="#">مشاهده همه</span>
                    </div>
                </a>
            </div>
            <div class="box-grid-p3">
                <a class="box-grid-a1" href="#">
                    <img class="img-grid img-grid-p3" src="{% static 'img/pic-6.png' %}" alt="غذای حیوانات" />
                    <div class="txt-grid-parent">
                        <span class="txt txt-grid-p2">غذای حیوانات</span>
                        <span class="viewed-all" href="#">مشاهده همه</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--End Grid section-->



    <h1 class="title1">آخرین تخفیفات</h1>
    <div class="splide" dir="ltr">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pro-btn">
        <button class="button" type="button">مشاهده همه پیشنهادات</button>
    </div>
    <div class="section-p1">
        <img src="{% static 'img/section-pic1.png' %}" alt="">
        <div class="section-text">
            <div class="section-p1-txt">شرکت تولیدی کلاه و<br>لباس زمستانی و تابستان<br>به صورت تک و عمده</div>
            <button type="button" class="">همین حالا تماس بگیرید</button>
        </div>
    </div>

    <h1 class="title1">پر فروش ترین دسته بندی ها</h1>
    <div class="splide" dir="ltr">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="product-box">
                        <div class="image-parent">
                            <a href="#">
                                <img class="image" src="{% static 'img/pic-12.png' %}" alt="">
                            </a>
                            <div>
                                <a href="#">
                                    <img class="icon1" src="{% static 'icons/icon-9.png' %}" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img class="icon2" src="{% static 'icons/icon-23.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="details">

                            <a href="#">
                                <h2>میز چوبی</h2>
                            </a>
                            <div class="rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">2.000.000T</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="pro-btn">
        <button class="button" type="button">مشاهده همه تخفیفات</button>
    </div>




    <h1 class="title1">آخرین مقالات</h1>
    <section class="article">
        <div id="article-container-id" class="article-container">
            <div class="article-card  article-one">
                <div class="article-image">
                    <img src="{% static 'img/pic-1.png' %}" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 3</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید <br> سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-17.png' %}" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-18.png' %}" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>

                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="article-card  article-two">
                <div class="article-image">
                    <img src="{% static 'img/pic-2.png' %}" class="product-thumb" alt="" />
                </div>
                <div class="article-info">

                    <h2 class="article-title">مقاله 2</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید <br> سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-17.png' %}" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-18.png' %}" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>
                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>

                </div>
            </div>
            <div class="article-card article-three">
                <div class="article-image">
                    <img src="{% static 'img/pic-3.png' %}" class="product-thumb" alt="" />
                </div>
                <div class="article-info">
                    <h2 class="article-title ">مقاله 1</h2>
                    <p class="article-info-txt">لورم ایپسوم متن ساختگی با تولید <br> سادگی نامفهوم از صنعت چاپ</p>
                    <div class="bot-article-info">
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-17.png' %}" alt="">
                            <p class="author-data">نادیه نجم آبادی</p>
                        </div>
                        <div class="bot-article-info-kid">
                            <img class="bot-article-info-img" src="{% static 'icons/icon-18.png' %}" alt="">
                            <p class="author-data">2 اردیبهشت</p>
                        </div>
                    </div>
                    <div class="read-more">
                        <a class="read-more-in" href="#">ادامه مطلب</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="pro-btn">
        <button class="button-article" type="button">مشاهده همه مقالات</button>
    </div>


{% endblock %}